.button{
-fx-background-color: black;
-fx-text-fill:  white;
-fx-border-width:  2;
-fx-outer-border: black;
  -fx-background-insets: 0, 6;
-fx-border-color: black;
}



.button: hover{
-fx-background-color: white;
-fx-text-fill: black;
-fx-cursor:  hand ;
}
